@model IEnumerable<NHOMH2KT_WebCoffee.Models.Cart>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/MyLayout/MyLayout.cshtml";
    var taikhoan = Session["Account"] as NHOMH2KT_WebCoffee.Models.Account;
}

<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="/HomeUs" class="navbar-brand px-lg-4 m-0">
            <h1 class="m-0 display-4 text-uppercase text-white">H2KT</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                <a href="/HomeUs" class="nav-item nav-link active">Trang Chủ</a>
                <a href="/AboutUs" class="nav-item nav-link ">Về Chúng Tôi</a>
                <a href="/ServiceUs" class="nav-item nav-link ">Dịch Vụ</a>
                <a href="/MenuUs" class="nav-item nav-link ">Sản Phẩm</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu text-capitalize">
                        <a href="/ReservationUs" class="dropdown-item">Thông Tin Đơn Hàng</a>
                        <a href="/TestimonialUs" class="dropdown-item">Khách Hàng Đánh Giá</a>
                    </div>
                </div>
                <a href="/ContactUs" class="nav-item nav-link">Thông Tin Liên Hệ</a>
                <div class="nav-item dropdown">
                    @Html.ValidationSummary(true)
                    <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown">@taikhoan.nameCus</a>
                    <div class="dropdown-menu text-capitalize">
                        <a href="/Thongtin" class="dropdown-item">Thông tin tài khoản</a>
                        <a href="/GioHang" class="dropdown-item">Giỏ hàng</a>
                        <a href="/ResetPass" class="dropdown-item">Đổi mật khẩu</a>
                        <a href="/LogOut" class="dropdown-item">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Sản Phẩm</h1>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="">Trang Chủ</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Sản Phẩm</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isoluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dThanhtien)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameProd)
            </td>
            <td>
                <img src="@item.images" width="200px" height="200px" />
            </td>
            @using (Html.BeginForm("CapNhatGioHang", "Cart", new { @id = item.idProd }))
            {
                <td> @String.Format("{0:0,0}", item.price) VNĐ </td>
                <td> <input type ="number" min="1" name="txtSolg" value="@item.isoluong" /> </td>
                <td> @Html.DisplayFor(modelItem => item.dThanhtien) </td>
                <td>
                    @Html.ActionLink("Xóa", "XoaGiohang", new { @id = item.idProd })
                </td>
                <td><input type="submit" value="Cập nhật" class="btn btn-success" /></td>
            }
        </tr>
    }
    <tr style="font-weight: bold; text-align: left; color:red">
        <td colspan="2"> Số loại sản phẩm: @ViewBag.Tongsoluongsanpham </td>
        <td colspan="2"> Số lượng: @ViewBag.Tongsoluong </td>
        <td colspan="4"> Tổng tiền: @String.Format("{0:0,0}", @ViewBag.Tongtien) VNĐ </td>
    </tr>
    <tr style="font-weight:bold; color: blue; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight: bold; color:yellow; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Đặt hàng", "DatHang", "Cart")
        </td>
    </tr>
</table>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/waypoints/waypoints.min.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/mail/jqBootstrapValidation.min.js"></script>
<script src="~/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/js/main.js"></script>
