@model NHOMH2KT_WebCoffee.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/MyLayout/MyLayout.cshtml";
    var taikhoan = Session["Account"] as NHOMH2KT_WebCoffee.Models.Account;
}
<link href="~/css/stylecustom.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
<!-- Navbar Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="/Home" class="navbar-brand px-lg-4 m-0">
            <h1 class="m-0 display-4 text-uppercase text-white">H2KT</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                <div class="nav-item ">
                    @Html.ValidationSummary(true)
                    <a href="#" class="nav-link  ">@taikhoan.nameCus</a>

                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
<h2 style="text-align:center">Chỉnh sửa thông tin sản phẩm</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid  table-bordered">
        <div class="form-horizontal page-center ">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idProd)

            <div class="form-group">
                <strong class="col-md-offset-2 col-md-10">
                    Tên sản phẩm
                </strong>
                <div class="col-lg-auto">
                    @Html.EditorFor(model => model.nameProd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nameProd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <strong class="col-md-offset-2 col-md-10">
                    Giá sản phẩm
                </strong>
                <div class="col-lg-auto">
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <strong class="col-md-offset-2 col-md-10">
                    Mô tả sản phẩm
                </strong>
                <div class="col-lg-auto">
                    @Html.EditorFor(model => model.decription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.decription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <strong class="col-md-offset-2 col-md-10">
                    Loại sản phẩm
                </strong>
                <div class="col-lg-auto">
                    @Html.EditorFor(model => model.idCate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.idCate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <strong class="col-md-offset-2 col-md-10">
                    Hình sản phẩm
                </strong>
                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.images, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.images, "", new { @class = "text-danger" })
                        <input type="file" name="fileUpload" id="fileUpload" accept="image/*"
                               style="display:none;" />
                        <br />

                        <img style="width:400px; height:400px" src="@Model.images" id="pictureUpload" />
                        <br />
                        <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" />


                    </div>
                </div>
            </div>
            @section upload {
                <script>
                    $(function () {
                        $('#btnUpload').click(function () {
                            $('#fileUpload').trigger('click');
                        });
                    });
                    $('#fileUpload').change(function () {
                        if (window.FormData !== undefined) {
                            var fileUpload = $('#fileUpload').get(0);
                            var files = fileUpload.files;
                            var formData = new FormData();
                            formData.append('file', files[0]);

                            $.ajax(
                                {
                                    type: 'POST',
                                    url: '/Admin/ProcessUpload',
                                    contentType: false,
                                    processData: false,
                                    data: formData,
                                    success: function (urlImage) {

                                        $('#pictureUpload').attr('src', urlImage);
                                        $('#hinh').val(urlImage);
                                    },
                                    error: function (err) {
                                        alert('Error ', err.statusText);
                                    }
                                });
                        }
                    });
                </script>
            }

            <div class="form-group">
                <div class=" btn-cre">
                    <input type="submit" value="Hoàn thành" />
                </div>
            </div>
        </div>
    </div>

}
<div class="btn-back">
    @Html.ActionLink(" << Trở lại", "Product")
</div>
